[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "rgenoud"]
	path = rgenoud
	url = https://github.com/jasjeetsekhon/rgenoud
	shallow = true
	registered = true
