[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "Matching"]
	path = Matching
	url = https://github.com/jasjeetsekhon/matching
[submodule "rgenoud"]
	path = rgenoud
	url = https://github.com/jasjeetsekhon/rgenoud
